<%= render '/shared/page_title', title: "Welcome chef #{@chef.chefname.capitalize}" %>

<div class='row'>

  <div class='col-md-4 col-md-offset-4 center'>
    <%= gravatar_for @chef, size: 200 %>
    <hr/>
  </div>
</div>

<div class='row'>
  <div class='col-md-4 col-md-offset-4 center'>
    <h3><em>Recipes:</em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>

<% @recipes.each do |recipe| %>
  <div class='row'>
    <div class='col-lg-6 well col-lg-offset-3'>
      <h4>
        <%= link_to recipe.name, recipe_path(recipe) %>
        <%= image_tag recipe.picture.url, size: '230x130', class: 'gravatar pull-right' if recipe.picture? %>
      </h4>
      <p><%= recipe.summary %></p>
      <p>
        <span class='quiet'><small> Added <%= time_ago_in_words recipe.created_at %> ago,  </small></span>
        <span class='quiet'><small> updated <%= time_ago_in_words recipe.updated_at %> ago. </small></span>
      </p>

      <div class='pull-left'>
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-up'><%= recipe.thumbs_up_total %></i>
        <% end %>
        &nbsp|&nbsp
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-down'><%= recipe.thumbs_down_total %></i>
        <% end %>
      </div>

    </div>

  </div>

  <hr/>

<% end %>
