<%= render '/shared/page_title', title: @recipe.name %>

<div class='row'>

  <div class='col-md-4 pull-right center'>
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <p>
      <h5>Brought to you by <strong><%= @recipe.chef.chefname %></strong></h5>
    </p>
  </div>

  <div class='col-md-8'>
    <h3> <%= @recipe.summary %> </h3>

    <div class='show-recipe'>
      <%= image_tag @recipe.picture.url, class: 'gravatar' if @recipe.picture %>
    </div>

    <div class='well'>

      <small>Origins</small>
      <p><%= render @recipe.styles %></p>

      <small>Ingredients</small>
      <p><%= render @recipe.ingredients %></p>

      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>

      <div class='pull-right vote'>
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-up'><%= @recipe.thumbs_up_total %></i>
        <% end %>
        &nbsp|&nbsp
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-down'><%= @recipe.thumbs_down_total %></i>
        <% end %>
      </div>
    </div>
    <% if logged_in? && @recipe.chef == current_user %>
      <%= link_to 'Edit Recipe', edit_recipe_path, class: 'btn btn-success pull-right' %>
    <% end %>
  </div>

</div>

<h5><%= link_to 'Return to All Recipes', recipes_path, class: 'btn btn-warning btn-small' %></h5>
