<header class='navbar navbar-fixed-top navbar-default'>
  <div class='container'>
    <%= link_to 'Recipes', home_path, class: 'btn btn-lg btn-success', id: 'logo' %>

    <div class='nav-item'>
      <%= link_to 'Link1', '', class:'btn btn-default btn-warning'%>
    </div>

    <div class='nav-item'>
      <%= link_to 'Link2', '', class:'btn btn-default btn-warning'%>
    </div>

    <% if logged_in? %>
      <div class='nav-item'>
        <%= link_to 'Add Recipe', new_recipe_path, class:'btn btn-default btn-warning'%>
      </div>
      <ul class='nav-item pull-right'>
        <li class='dropdown'>
          <%= link_to '#', class: 'btn btn-default btn-danger dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            <%= current_user.chefname.capitalize %> <b class='caret'></b>
          <% end %>
          <ul class='dropdown-menu'>
            <li> <%= link_to 'View Profile', chef_path(current_user) %> </li>
            <li> <%= link_to 'Edit Profile', edit_chef_path(current_user) %> </li>
            <li class='divider'></li>
            <li> <%= link_to 'Logout', logout_path %> </li>
          </ul>
        </li>
      </ul>

    <% else %>

      <div class='nav-item pull-right'>
        <%= link_to 'Login', login_path, class:'btn btn-default btn-success'%>
      </div>
    <% end %>

  </div>
</header>
